* { 
  box-sizing: border-box;
}
  
body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: #222;
  background: #f7f5f0;
}
/* Link Styles */

a {
  text-decoration: none;
  color: white;
}
a:hover {
  color: orange;
}

#navbar {
  overflow: hidden;
  background-color: #333;
}

/* Navbar links */
#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

/* Page content */
.content {
  padding: 16px;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;

  z-index: 1;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 60px;
}


header {
  text-align: center;
  background: url('pizzaoven.jpg') no-repeat top center ;
  background-size: cover;
  overflow: hidden;
  padding-top: 60px;
}

header {
  line-height: 1.5;
}

header .logo-image {
  margin-top: 50px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 3px solid white;
  transition: all .5s;
}
header .logo-image:hover {
  transform: scale(1.2) rotate(360deg);
}
.tag {
  background-color: orange;
  color: white;
  padding: 10px;
  border-radius: 5px;
  display: table;
  margin: 10px auto;
} 
.location {
  background-color: ;
  color: white;
}

footer {
  width: 100%;
  min-height: 30px;
  padding: 20px 0 40px 20px;
}

footer .copyright {
  top: -8px;
  margin-right: 20px;
  font-size: .75em;
}

footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer ul li {
  display: inline-block;
}

a.social {
  display: inline-block;
  text-indent: -9999px;
  margin-left: 5px;
  width: 30px;
  height: 30px;
  background-size: 30px 30px;
  opacity: .5;
  transition: all .25s;
}
a.facebook {
  background-image: url(images/facebook.svg);
}

a.social:hover {
  opacity: 1;
}
.clearfix {
  clear: both;
}


.flex {
    display: flex;
    max-width: 1200px;
    justify-content: space-between;
    margin: 20px;
}



h3 {
   color: maroon;
   letter-spacing: 0.5px;
}


h2{ 
  color: #EEE0E5;
  text-align: left;
  position: relative;
    margin-left: 30px;
     font-family: helvetica;

}

h3 { 
  color: #EEE0E5;
  text-align: left;
  position: relative;
    margin-left: 30px;
    font-family: helvetica;
    font-size: 13px;
}

.facebook{
width: 50px;
position: absolute;
    right: 80px;
}

h4{ 

  text-align: right;
  position: center;

} 


footer{ background-color: #CD3333; text-align: left; } 

iframe{
  margin: 30px 20px;
  width:  100%;
  max-width: 1200px;
  height: 500px;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial;
}


/* Expanding image text */
#imgtext {
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: white;
    font-size: 20px;
}

/* Closable button inside the expanded image */
.closebtn {
    position: absolute;
    top: 10px;
    right: 15px;
    color: white;
    font-size: 35px;
    cursor: pointer;
}

.pizza-options {
  margin-top: 40px;
}

.gallery {
  margin-bottom: 20px
}